Repository webkwondo/react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

refactor: restructure project and form
  src/App.tsx
  src/components/AccountCard/AccountCard.test.tsx
  src/components/AccountCard/AccountCard.tsx
  src/components/AccountCards/AccountCards.test.tsx
  src/components/AccountCards/AccountCards.tsx
  src/components/AccountForm.tsx
  src/components/AccountForm/AccountForm.test.tsx
  src/components/AccountForm/AccountForm.tsx
  src/components/AccountForm/AccountFormSelect.tsx
  src/components/AccountForm/AccountFormValidator.tsx
  src/components/Card/Card.test.tsx
  src/components/Card/Card.tsx
  src/components/Cards/Cards.test.tsx
  src/components/Cards/Cards.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/Menu/Menu.tsx
  src/components/SearchBar/SearchBar.tsx
  src/constants.ts
  src/pages/AboutPage/AboutPage.test.tsx
  src/pages/AboutPage/AboutPage.tsx
  src/pages/AccountPage/AccountPage.test.tsx
  src/pages/AccountPage/AccountPage.tsx
  src/pages/HomePage/HomePage.test.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: eslint

feat: add react-hook-form
  .eslintrc.cjs
  package-lock.json
  package.json
  src/App.tsx
  src/components/AccountCard/AccountCard.test.tsx
  src/components/AccountCard/AccountCard.tsx
  src/components/AccountCards/AccountCards.test.tsx
  src/components/AccountCards/AccountCards.tsx
  src/components/AccountForm/AccountForm.test.tsx
  src/components/AccountForm/AccountForm.tsx
  src/components/AccountForm/AccountFormSelect.tsx
  src/components/AccountForm/AccountFormValidator.tsx
  src/components/Card/Card.tsx
  src/components/Cards/Cards.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/Menu/Menu.tsx
  src/components/SearchBar/SearchBar.tsx
  src/constants.ts
  src/interfaces.ts
  src/pages/AboutPage/AboutPage.tsx
  src/pages/AccountPage/AccountPage.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: eslint

feat: add tests
  src/components/AccountForm/AccountForm.test.tsx
  src/components/AccountForm/AccountForm.tsx
Due: eslint

refactor: minor form refactoring
  src/components/AccountForm/AccountForm.tsx
  src/components/SearchBar/SearchBar.test.tsx
  src/components/SearchBar/SearchBar.tsx
Due: eslint

chore: start api task
  package-lock.json
  package.json
  src/api/api.ts
Due: none

feat: add api data loading
  .eslintrc.cjs
  src/api/api.ts
  src/components/AccountCard/AccountCard.test.tsx
  src/components/AccountCard/AccountCard.tsx
  src/components/AccountCards/AccountCards.tsx
  src/components/AccountForm/AccountForm.tsx
  src/components/Card/Card.tsx
  src/components/Cards/Cards.tsx
  src/components/Header/Header.tsx
  src/components/Modal/Modal.tsx
  src/components/ProgressIndicator/ProgressIndicator.tsx
  src/components/SearchBar/SearchBar.tsx
  src/components/Utils/Utils.ts
  src/interfaces.ts
  src/pages/AboutPage/AboutPage.tsx
  src/pages/AccountPage/AccountPage.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/style.scss
  src/styles/components/cards.scss
  src/styles/components/modal.scss
  src/styles/components/progress-indicator.scss
Due: eslint, stylelint

feat: add tests
  package-lock.json
  package.json
  src/api/api.test.ts
  src/components/Card/Card.test.tsx
  src/components/Cards/Cards.test.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
  src/components/SearchBar/SearchBar.test.tsx
  src/components/Utils/Utils.test.tsx
  src/data/data.json
  src/data/tests-data.json
  src/interfaces.ts
Due: eslint

feat: implement state management with redux toolkit
  package-lock.json
  package.json
  src/App.test.tsx
  src/api/api.test.ts
  src/api/api.test.tsx
  src/api/api.ts
  src/components/AccountCard/AccountCard.test.tsx
  src/components/AccountCards/AccountCards.test.tsx
  src/components/AccountForm/AccountForm.test.tsx
  src/components/AccountForm/AccountForm.tsx
  src/components/Card/Card.test.tsx
  src/components/Cards/Cards.test.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
  src/components/ProgressIndicator/ProgressIndicator.tsx
  src/components/SearchBar/SearchBar.test.tsx
  src/components/SearchBar/SearchBar.tsx
  src/hooks/redux.ts
  src/interfaces.ts
  src/main.tsx
  src/pages/AboutPage/AboutPage.test.tsx
  src/pages/AccountPage/AccountPage.test.tsx
  src/pages/HomePage/HomePage.test.tsx
  src/pages/HomePage/HomePage.tsx
  src/store/reducers/AccountSlice.test.ts
  src/store/reducers/AccountSlice.ts
  src/store/reducers/SearchTermSlice.test.ts
  src/store/reducers/SearchTermSlice.ts
  src/store/store.ts
  src/style.scss
  src/styles/components/home.scss
Due: eslint, stylelint

Path conditions:
  eslint: any of: src/**/*.tsx
  stylelint: any of: src/**/*.scss
